.headerContacts__tg {
  display: flex;
  align-content: center;
  justify-items: center;
  width: 40px;
  height: 40px;
}

.headerContacts__img {
  width: 24px;
  height: 24px;
  align-self: center;
}